.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    composes: container from '../container.module.css';
}

.headerInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (max-width: 750px) {
    .header {
        flex-direction: column-reverse;
    }
}