.header {
    display: flex;
    outline: 1px solid green;
    margin-bottom: 20px;

    composes: container from '../container.module.css';
}

.headerInner {
    display: flex;
    flex-direction: column;
    width: 100%;
}