.whatAmStudyingNow {
    background-color: #f7f3e3;
    border-left: 1px solid #a8763e;
    border-right: 1px solid #a8763e;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.whatAmStudyingNowTitle {
    background-color: #a8763e;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.whatAmStudyingNowList {
    padding: 0 10px 10px;
}

@media (max-width: 480px) {
    .whatAmStudyingNowTitle {
        font-size: 14px;
    }

    .whatAmStudyingNowList {
        font-size: 12px;
    }
}