.workExperience {
    margin-bottom: 20px;

    composes: container from '../container.module.css';
}

.workExperienceTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #a8763e;
    border: 1px solid #a8763e;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    transition: .2s;
}

.workExperienceTitleWrapper:hover {
    background-color: #f7f3e3;
    color: #a8763e;
    transition: .2s;
}

.workExperienceTitle {
    font-size: 16px;
    width: 100%;
}

.workExperienceList {
    text-align: justify;
}

.workExperienceListItem {
    border: 1px solid #a8763e;
    background-color: #f7f3e3;
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;
}

.workExperienceListItemText {
    padding-left: 20px;
}
