.coursesListItem {
    background-color: #f7f3e3;
    border: 1px solid #a8763e;
    cursor: pointer;
    margin: 0 0 10px;
}

.coursesListItemTitle {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: .2s;
}

.coursesListItemTitle:hover {
    background-color: #f7f3e3;
    color: #a8763e;
    transition: .2s;
}

.modulesList {

}