.coursesSection {
    margin-bottom: 20px;

    composes: container from '../container.module.css';
}

.coursesListTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #a8763e;
    border: 1px solid #a8763e;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    transition: .2s;
}

.coursesListTitleWrapper:hover {
    background-color: #f7f3e3;
    color: #a8763e;
    transition: .2s;
}

.coursesSectionTitle {
    font-size: 16px;
    width: 100%;
}

