.education {
    margin-bottom: 20px;

    composes: container from '../container.module.css';
}

.educationTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #a8763e;
    border: 1px solid #a8763e;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    transition: .2s;
}

.educationTitleWrapper:hover {
    background-color: #f7f3e3;
    color: #a8763e;
    transition: .2s;
}

.educationTitle {
    font-size: 16px;
    width: 100%;
}

.educationListItem {
    border: 1px solid #a8763e;
    background-color: #f7f3e3;
    padding: 10px;
    margin-bottom: 10px;
}

.educationListItemText {
    padding-left: 20px;
}

@media (max-width: 480px) {
    .educationTitleWrapper {
        padding: 10px;
    }

    .educationTitle {
        font-size: 14px;
    }

    .educationListItem h3 {
        font-size: 12px;
    }

    .educationListItemText {
        font-size: 12px;
    }
}