.course-section {
    max-width: 960px;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    margin: 0 0 10px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.course-list-item:last-child {

}

.module-list {
    padding: 0 20px;
}

.module-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.module-list-item:last-child {
    border-bottom: none;
}

.list-item:last-child {
    border-bottom: none;
}