.photoSection {
    position: relative;
    cursor: pointer;
    height: 300px;
    width: 300px;
}

.photoSectionImg {
    border-radius: 50%;
}

.photoSectionCount {
    position: absolute;
    top: 90%;
    left: 92%;
}