.photoSection {
    position: relative;
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin-left: 40px;
}

.photoSectionImg {
    border-radius: 50%;
}

.photoSectionCount {
    position: absolute;
    top: 90%;
    left: 92%;
}

@media (max-width: 750px) {
    .photoSection {
        margin-left: 0;
    }
}