.aboutMe {
    margin-bottom: 50px;

    composes: container from '../container.module.css';
}

.aboutMeTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #a8763e;
    border: 1px solid #a8763e;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    transition: .2s;
}

.aboutMeTitleWrapper:hover {
    background-color: #f7f3e3;
    color: #a8763e;
    transition: .2s;
}

.aboutMeTitle {
    font-size: 16px;
    width: 100%;
}

.aboutMeList {
    border: 1px solid #a8763e;
    background-color: #f7f3e3;
    padding: 10px;
}
